@using SCVData;

@model DXSCV.Models.FichaTecnicaVehiculoViewModel
@{
    ViewBag.Title = "Fichas Tecnicas Vehiculos";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<script type="text/javascript">
    function TipoDocSelected(s, e) {
        var value = s.GetValue();
        $("#hdnTipoDoc").val(value);
    }
    function OnClick(s, e) {
        var tipodoc = $("#hdnTipoDoc").val();

        //El tipo de documento es requerido
        if (tipoc == "0") {
            alert("No se cargo el documento, debes seleccionar el tipo de documento.");
            return;
        }

        uc.Upload();
    }

    function OnFileUploadComplete(s, e) {
        if (e.callbackData !== "") {
            var tipodoc = $("#hdnTipoDoc").val();
            //El tipo de documento el requerido
            if (tipodoc == "0") {
                return;
            }

            var ftVehiculoId = $("#hdFTVehiculoId").val();
            var url = e.callbackData;

            UploadEvents.SaveInfoFile(ftVehiculoId, url, '/FTVehiculo/AddInfoFile', tipodoc);
        } else {
            alert("El archivo no pudo ser cargado.");
        }
    }

    var currentFTVehiculoId;
    function OnHyperLinkClick(id) {
        currentFTVehiculoId = id;
        $("#hdFTVehiculoId").val(id);

        FichaTecnica.GetFTVehiculoFiles(currentFTVehiculoId, '/FTVehiculo/GetFiles', 7, "fichatecnica");

        if (!popup.IsVisible()) {
            popup.Show();
        }
    }
</script>

<div style="width:100%;position:relative;margin-bottom:10px;margin-top:10px;font-size:2em;">Fichas Tecnicas de Vehiculos</div>
@Html.Partial("GridViewPartialView", Model)
@Html.Hidden("hdFTVehiculoId")

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "popup";
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.Width = System.Web.UI.WebControls.Unit.Pixel(360);
    settings.Height = System.Web.UI.WebControls.Unit.Pixel(170);
    settings.HeaderText = "Carga de Documentos";
    settings.SetContent(() =>
    {
        Html.RenderPartial("LoadDocumentsPartialView", Model);
    });

}).GetHtml()
