@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Reportes</h2>
<br />
<br />
<br />
@Html.ActionLink("Reporte de Vehiculos por Empresa y Ciudad", "RptVehiculos", "Reports")
