@{
    ViewBag.Title = "RptVehiculos";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Reporte de Vehiculos</h2>

@Html.DevExpress().WebDocumentViewer(settings => {
    settings.Name = "WebDocumentViewer";
}).Bind(new RptVehiculo()).GetHtml()

