@using SCVData;

@model DXSCV.Models.BitacoraEventoViewModel
@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<script type="text/javascript">

    function TipoDocSelected(s, e) {
        var value = s.GetValue();//document.getElementById("cmbTipoDocumento");
        $("#hdnTipoDoc").val(value);
        //alert(value);
    }
    function OnClick(s, e) {
        var tipodoc = $("#hdnTipoDoc").val();

        //El tipo de documento es requerido
        if (tipoc == "0") {
            alert("No se cargo el documento, debes seleccionar el tipo de documento.");
            return;
        }

        uc.Upload();
    }

    function OnFileUploadComplete(s, e) {
        if (e.callbackData !== "") {
            var tipodoc = $("#hdnTipoDoc").val();
            //El tipo de documento el requerido
            if (tipodoc == "0") {
                return;
            }

            var BitacoraEventoId = $("#hdBitacoraEventoId").val();
            var url = e.callbackData;

            UploadEvents.SaveInfoFile(BitacoraEventoId, url, '/Evento/AddInfoFile', tipodoc);
        } else {
            alert("El archivo no pudo ser cargado.");
        }
    }

    //Show popup for updload documents
    var currentVehiculoID;
    function OnHyperLinkClick(id) {
        currentVehiculoID = id;
        $("#hdBitacoraEventoId").val(id);

        UploadEvents.GetFiles(currentVehiculoID, '/Evento/GetFiles', 3);

        if (!popup.IsVisible()) {
            popup.Show();
        }
    }

    function OnDetailGridBeginCallback(s, e) {
        e.customArgs["_vehiculoID"] = currentvehiculoID;
    }

    function OnDetailGridEndCallback(s, e) {

        if (!popup.IsVisible()) {
            popup.Show();
        }
    }


</script>

<div style="width:100%;position:relative;margin-bottom:10px;margin-top:10px;font-size:2em;">Eventos</div>
@Html.Partial("GridViewPartialView", Model)
@Html.Hidden("hdBitacoraEventoId")


@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "popup";
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.Width = System.Web.UI.WebControls.Unit.Pixel(360);
    settings.Height = System.Web.UI.WebControls.Unit.Pixel(170);
    settings.HeaderText = "Carga de Documentos";
    settings.SetContent(() =>
    {
        Html.RenderPartial("LoadDocumentsPartialView", Model);
    });

}).GetHtml()






